In [1]:
#Import required libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import gzip
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [3]:
#read the train dataset 
df = pd.read_csv("train_sample.csv")

In [4]:

train_data=df
print('Shape of training data :',train_data.shape)

Shape of training data : (2000000, 24)

In [ ]:
#load the test dataset
#test_data=pd.read_csv("test.csv")

In [ ]:
print('Shape of test data :',test_data.shape)

In [5]:
#column data types
types_train = {
    'id': np.dtype(int),
    'click': np.dtype(int),
    'hour': np.dtype(int),
    'C1': np.dtype(int),
    'banner_pos': np.dtype(int),
    'site_id': np.dtype(str),
    'site_domain': np.dtype(str), 
    'site_category': np.dtype(str),
    'app_id': np.dtype(str),
    'app_domain': np.dtype(str),
    'app_category': np.dtype(str),
    'device_id': np.dtype(str),
    'device_ip': np.dtype(str),
    'device_model': np.dtype(str),
    'device_type': np.dtype(int),
    'device_conn_type': np.dtype(int),
    'C14': np.dtype(int),
    'C15': np.dtype(int),
    'C16': np.dtype(int),
    'C17': np.dtype(int),
    'C18': np.dtype(int),
    'C19': np.dtype(int),
    'C20': np.dtype(int),
    'C21':np.dtype(int)
}

In [6]:

parse_date = lambda val : pd.datetime.strptime(val, '%y%m%d%H')
df_train = pd.read_csv("train_sample.csv",parse_dates = ['hour'], date_parser = parse_date,dtype=types_train)

<ipython-input-6-ac32ae3cebda>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  parse_date = lambda val : pd.datetime.strptime(val, '%y%m%d%H')

In [7]:
#Modeling
#starting with Hash fucntion
#has function :
    # to convert object datatypes to hashmap so as to be more memory efficient while trianing the model.
def convert_obj_to_int(self):
    
    object_list_columns = self.columns
    object_list_dtypes = self.dtypes
    new_col_suffix = '_int'
    for index in range(0,len(object_list_columns)):
        if object_list_dtypes[index] == object :
            self[object_list_columns[index]+new_col_suffix] = self[object_list_columns[index]].map( lambda  x: hash(x))
            self.drop([object_list_columns[index]],inplace=True,axis=1)
    return self

In [13]:
df_train = convert_obj_to_int(df_train)

In [14]:
X_train = df_train.loc[:, df_train.columns != 'click']
y_train = df_train.click.values

In [17]:
X_train.drop('hour',axis=1 , inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [15]:
model = XGBClassifier()

In [18]:
model.fit(,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [20]:
predict_train = model.predict(X_train)

In [45]:
print (predict_train[:117])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1]

In [21]:
# Accuray Score on train dataset
accuracy_train = accuracy_score(y_train,predict_train)
print('\naccuracy_score on train dataset : ', accuracy_train)

accuracy_score on train dataset :  0.835317

In [22]:
pickle.dump(model,open('ctr_model_v2.pkl','wb'))

In [25]:
ctr_model_v2 = pickle.load(open('ctr_model_v2.pkl','rb'))

In [54]:
newdf = pd.read_csv('testv2.csv')

In [86]:
ctr_model_v2.predict(df1)

array([0, 1])

In [81]:
df1=df_train.iloc[[115,116],:]

In [82]:
df1

,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,...,C21,site_id_int,site_domain_int,site_category_int,app_id_int,app_domain_int,app_category_int,device_id_int,device_ip_int,device_model_int
115,1130776163,0,2014-10-22 06:00:00,1005,0,1,0,4687,320,50,...,32,4643082501057640764,-6838991127462602008,-6431081392821299415,251943468304718516,2254882423123443210,70002149034377836,-804848689506621038,-1087058357416184991,3536874697199369009
116,-389260500,1,2014-10-22 11:00:00,1002,0,0,0,21812,320,50,...,71,2587553839953187997,-6838991127462602008,-6431081392821299415,5944069843806331035,-4057654399238320735,5972384513224463130,-8621361824115117356,-4381388076210526621,4959455712878367674

In [83]:
df1.shape

(2, 24)

In [84]:
df1.drop('hour',axis=1 , inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [85]:
df1.drop('click',axis=1 , inplace = True)
df1

,id,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,...,C21,site_id_int,site_domain_int,site_category_int,app_id_int,app_domain_int,app_category_int,device_id_int,device_ip_int,device_model_int
115,1130776163,1005,0,1,0,4687,320,50,423,2,...,32,4643082501057640764,-6838991127462602008,-6431081392821299415,251943468304718516,2254882423123443210,70002149034377836,-804848689506621038,-1087058357416184991,3536874697199369009
116,-389260500,1002,0,0,0,21812,320,50,2518,3,...,71,2587553839953187997,-6838991127462602008,-6431081392821299415,5944069843806331035,-4057654399238320735,5972384513224463130,-8621361824115117356,-4381388076210526621,4959455712878367674

In [87]:
df1.to_csv('sample_inpu.csv')

In [28]:
X_train.iloc[6]

id                             219664221
C1                                  1005
banner_pos                             0
device_type                            1
device_conn_type                       2
C14                                23725
C15                                  320
C16                                   50
C17                                 2716
C18                                    3
C19                                   47
C20                                   -1
C21                                   23
site_id_int          4643082501057640764
site_domain_int     -6838991127462602008
site_category_int   -6431081392821299415
app_id_int          -8074261069684834129
app_domain_int       2147831413442675031
app_category_int    -2123166384436806448
device_id_int        -804848689506621038
device_ip_int        -498143173353359194
device_model_int      -10491508010299272
Name: 6, dtype: int64

In [30]:
X_train.head()

,id,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,...,C21,site_id_int,site_domain_int,site_category_int,app_id_int,app_domain_int,app_category_int,device_id_int,device_ip_int,device_model_int
0,-1313665075,1005,0,1,0,16615,320,50,1863,3,...,23,3349721273057079855,-457755482800249504,7474044007341251241,5944069843806331035,-4057654399238320735,5972384513224463130,-804848689506621038,-9026979578664714723,-8133799963544044385
1,-560158682,1005,1,1,0,17614,320,50,1993,2,...,33,-1448317005606348424,-7824339325784408562,7474044007341251241,5944069843806331035,-4057654399238320735,5972384513224463130,-804848689506621038,-8197272683893181319,4996845748792262756
2,1658722075,1005,0,1,0,21790,320,50,2513,3,...,68,-4457513230604760773,-5665398360339644455,8067388519064885509,5944069843806331035,-4057654399238320735,5972384513224463130,-804848689506621038,-1867502466012396438,2581483685123557459
3,1323747585,1002,0,0,0,21747,320,50,2504,3,...,111,4643082501057640764,-6838991127462602008,-6431081392821299415,-313912435863574236,-4057654399238320735,5972384513224463130,6709083160674434239,-2313868711933341654,-1856752526666000290
4,1821290237,1005,0,1,2,23950,320,50,2745,2,...,255,4643082501057640764,-6838991127462602008,-6431081392821299415,-92538603332962449,-3574747640373441712,70002149034377836,-804848689506621038,5110150673416230511,-8721397384042365539

In [88]:
ctr_model_v1 = pickle.load(open('ctrmodel.pkl','rb'))

In [90]:
df1.drop('id',axis=1 , inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [91]:
ctr_model_v1.predict(df1)

array([0.15084561, 0.20026405])